[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-pyjwt = "*"
flask-cors = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"
pipenv = "*"

[requires]
python_version = "3.8"

[scripts]
start = "env IS_DEV='0' python app/app.py"
dev = "env IS_DEV='1' python app/app.py"
requirements = "sh update_requirements.sh"