[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-pyjwt = "*"
flask-cors = "*"
python-dotenv = "*"
bcrypt = "*"
sqlalchemy = "*"

[dev-packages]
autopep8 = "*"
pipenv = "*"
coverage = "*"

[requires]
python_version = "3.8"

[scripts]
start = "env IS_DEV='0' python app.py"
dev = "env IS_DEV='1' python app.py"
test = "python -m unittest"
test_coverage = "bash show_coverage.sh"
requirements = "sh update_requirements.sh"
